<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="AppUser" value="duandulich"/>
    <add key="AppPassword" value="DL@2022"/>
    <add key="UserMap" value="duandulich"/>
    <add key="PasswordMap" value="DL@2022"/>
    <add key="LinkServiceMap" value="http://gis.sotnmt.baria-vungtau.gov.vn:8080/arcgis2/rest/services/"/>
    <add key="LinkTokenMap" value="http://gis.sotnmt.baria-vungtau.gov.vn:8080/arcgis2/tokens/"/>
    <add key="LinkServiceDADL" value="http://gis.sotnmt.baria-vungtau.gov.vn:8080/arcgis2/rest/services/DUANDULICH_2022/MapServer"/>
  </appSettings>
  <system.codedom>
  
  </system.codedom>
</configuration>